.calculator {
			padding: 5px;
			margin: 5px;
			background-color: #D3CFCF;
			width:100%;
			height: auto;
			border-radius: 15px;
			
		}
		
		.form-control {
			border: 0px solid transparent;
			padding: 0px;
			border: 0px;
			border-radius: 15px;
		}
		
		input[type="text" ]:disabled {
			
			background-color: white;
			text-align:left;
			padding: 8px;
		}
		
		.design {
			text-align: center;
			border-radius: 25px;
			width: 100%;
			height: auto;
			color: white;
			padding: 9px;
			margin: 8px;
			background-color: black;
		}